{
    "parserOptions": {
        "ecmaVersion": 5
    },
    "rules": {
        "no-console": 1,
        "no-constant-condition": 1,
        "no-control-regex": 2,
        "no-debugger": 2,
        "no-dupe-args": 2,
        "no-dupe-keys": 2,
        "no-duplicate-case": 2,
        "no-empty-character-class": 2,
        "no-empty": 2,
        "no-ex-assign": 2,
        "no-extra-boolean-cast": 2,
        "no-extra-parens": [1,"all"],
        "no-extra-semi": 2,
        "no-func-assign": 2,
        "no-inner-declarations": [1,"both"],
        "no-invalid-regexp": 2,
        "no-irregular-whitespace": 1,
        "no-negated-in-lhs": 2,
        "no-obj-calls": 2,
        "no-regex-spaces": 2,
        "no-sparse-arrays": 2,
        "no-unreachable": 1,
        "use-isnan": 1,
        "valid-typeof": 2,
        "no-unexpected-multiline": 2,
        "accessor-pairs": [1,{"setWithoutGet":true}],
        "block-scoped-var": 1,
        "consistent-return": 1,
        "curly": [1,"all"],
        "default-case": 1,
        "eqeqeq": [1,"smart"],
        "no-alert": 2,
        "no-caller": 2,
        "no-div-regex": 2,
        "no-else-return": 1,
        "no-labels": 2,
        "no-eq-null": 2,
        "no-eval": 2,
        "no-extra-bind": 2,
        "no-fallthrough": 2,
        "no-octal": 2,
        "no-redeclare": [2,{"builtinGlobals":true}],
        "no-delete-var": 2,
        "no-undef": 2,
        "no-unused-vars": 2,
        "no-mixed-spaces-and-tabs": [2,"smart-tabs"]
    },
    "globals": {
        "jQuery": true,
        "objectFitPolyfill": true
    },
    "env": {
        "browser": true
    }
}
